NODE_ENV=development
DATABASE_URL=postgresql://burgoos:burgoos@localhost:5432/burgoos?schema=public
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
NEXT_PUBLIC_API_URL=http://localhost:3001
MERCADO_PAGO_CLIENT_ID=
MERCADO_PAGO_API_BASE_URL=https://api.mercadopago.com
MERCADO_PAGO_CLIENT_SECRET=
MERCADO_PAGO_REDIRECT_URI=http://localhost:3001/api/integrations/mercadopago/callback
MERCADO_PAGO_WEBHOOK_SECRET=
MERCADO_PAGO_POST_CALLBACK_URL=http://localhost:3000/admin/orders/import
MERCADO_PAGO_POINT_ORDER_EXPIRATION=PT15M
MERCADO_PAGO_POINT_RECONCILIATION_SECONDS=60
MERCADO_PAGO_POINT_PENDING_TIMEOUT_SECONDS=120
PAGBANK_EDI_BASE_URL=https://edi.api.pagbank.com.br
PAGBANK_EDI_VERSION=v3.01
