NODE_ENV=development
DATABASE_URL=postgresql://burgoos:burgoos@localhost:5432/burgoos?schema=public
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
NEXT_PUBLIC_API_URL=http://localhost:3001
